@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: url('../../assets/images/bg.png') center/cover;
  min-height: 100vh;
  background-size: 100% 100%;
}


input:focus,
input:active {
  border-color: #1a8fdd;
  outline: none;
}
